.App {
  text-align: center;
}
.nav {
  background-color: #88BDBC;
}
a.navbar-brand {
  font-size: 50px;
}
.mr-auto {
  font-size: 30px;
  margin-right: 40px;
}
a.mr-auto.navbar.nav {
  justify-content: center;
  margin-right: 80px;
  padding-top: 80px;
}
form {
  padding: 150px;
}
.title {
  font-size: 300px;
}
.posts {
  background-color: #88BDBC;
}
/* .search-button {
  color: white;
  background-color: #254e58;
} */
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
img {
  height: 110px;
  width: 110px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 50%;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
